<h1>Nouveau jour ferié / RTT employeur</h1>

<form class="form-horizontal">
<fieldset>

<!-- Date -->
<div class="form-group">
  <label class="col-md-4 control-label" for="date">Date </label>  
  <div class="col-md-4">
  <!-- <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md"> -->
  <input type="date" id="date" name="date" ng-model="date">
  </div>
</div>

<!-- Type de jour -->
<div class="form-group">
  <label class="col-md-4 control-label" for="type">Type de jour </label>
  <div class="col-md-4">
    <select id="type" name="type" class="form-control" ng-model="type">
      <option ng-repeat="type in $ctrl.types track by $index" value="{{ type }}">{{ type }}</option>
    </select>
  </div>
</div>

<!-- Commentaire -->
<div class="form-group">
  <label class="col-md-4 control-label" for="comment">Commentaires </label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="comment" name="comment" ng-model="comment"></textarea>
  </div>
</div>

</fieldset>
</form>